/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios =
            <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // 풋스위치 1
            <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // 풋스위치 2
            <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, // 모드 전환 스위치
            <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // 레이어 순환 스위치
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <2000000>;
        full-ohms = <(2000000 + 806000)>;
    };
    
    // 백라이트 LED 설정
    leds {
        compatible = "gpio-leds";
        led_1: led_1 {
            gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;  // D9 핀
            label = "LED 1";
        };
        led_2: led_2 {
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>; // D12 핀
            label = "LED 2";
        };
        led_3: led_3 {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>; // D13 핀
            label = "LED 3";
        };
        led_4: led_4 {
            gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>; // D14 핀
            label = "LED 4";
        };
    };
};
