#include <dt-bindings/led/led.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios =
            <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // 풋스위치 1
            <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,  // 풋스위치 2
            <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, // 모드 전환 스위치
            <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // 레이어 순환 스위치
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <2000000>;
        full-ohms = <2806000>;
    };
    // --- 백라이트 LED 출력 핀 설정 ---
    outputs {
        compatible = "zmk,outputs";
        status = "okay";

        led_1: led_1 {
            gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;  // 첫 번째 LED (D9/P1.06)
        };
        led_2: led_2 {
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>; // 두 번째 LED (D12/P1.11)
        };
        led_3: led_3 {
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>; // 세 번째 LED (D13/P1.13)
        };
        led_4: led_4 {
            gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>; // 네 번째 LED (D14/P1.15)
        };
    };
};
