#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

 / {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp MS_BTN1     // 풋스위치 1 - 마우스 좌클릭
                &kp MS_BTN2     // 풋스위치 2 - 마우스 우클릭
                &sl 1           // 슬라이드 스위치 → keyboard_layer
            >;
        };

        keyboard_layer {
            bindings = <
                &kp A           // 풋스위치 1 - 키보드 A
                &kp D           // 풋스위치 2 - 키보드 D
                &sl 0           // 슬라이드 스위치 → 마우스 레이어
            >;
        };
    };
};
